* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h3 {
  color: rgb(61, 24, 95);
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 4px rgb(104, 57, 151);
}

button,
input[type="submit"] {
  background-image: linear-gradient(45deg, rgb(82, 7, 152), rgb(104, 57, 151));
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin: 0 2px;
}

button:hover,
input[type="submit"]:hover {
  background-image: linear-gradient(45deg, rgb(44, 3, 85), rgb(45, 27, 63));
  cursor: pointer;
}
section {
  background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  height: 520px;
  overflow-y: auto;
  list-style-type: none;
}
ul li:last-of-type {
  margin-bottom: 15%;
}
input[type="text"],
textarea,
input[type="color"] {
  font-size: medium;
  padding: 10px;
  border: 2px inset rgb(128, 97, 158);
  cursor: pointer;
}
input[type="text"]:focus,
textarea:focus,
input[type="color"]:focus {
  border: 4px inset rgb(44, 3, 85);
}
textarea {
  height: 46px;
  font-size: 18px;
}
input[type="color"] {
  height: 48px;
  padding: 2px;
}
.row {
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
}

.ime {
  color: white;
  font-size: 20px;
  padding: 10px 2px;
  text-transform: capitalize;
}
.poruka {
  color: rgb(220, 131, 146);
  font-size: 20px;
  padding: 10px 5px;
  font-weight: 600;
}
.vreme {
  color: rgb(176, 162, 162);
  font-size: 16px;
  padding: 10px;
  margin: 1px;
}
.oblak {
  background-image: linear-gradient(45deg, rgb(12, 183, 183), rgb(45, 27, 63));
  margin: 10px;
  padding: 10px 20px;
  float: left;
  clear: both;
  max-width: 70%;
  border-radius: 0 30px 30px 40px;
  height: auto;
  word-break: break-all;
}

#alert {
  background-color: rgb(84, 156, 184);
  background-blend-mode: color-burn;
  color: rgb(172, 17, 17);
  text-shadow: 3px 3px 3px yellow;
  font-size: 20px;
  padding: 20px;
  border-radius: 40px 40px 0px 40px;
  box-shadow: 10px 10px 10px 10px rgb(53, 53, 111);

  display: none;
  position: absolute;
  right: 10px;
  z-index: 2;
}

.me {
  float: right;
}
.kanta {
  float: right;
  position: relative;
  bottom: 5%;
  padding: 3px;
  opacity: 0.6;
}
.kanta:hover {
  opacity: 1;
  cursor: pointer;
}
.yellow {
  color: rgb(245, 249, 13);
  background-image: linear-gradient(45deg, rgb(44, 3, 85), rgb(45, 27, 63));
}
#sandwich {
  margin: 10px;
  background-color: white;
  width: 36px;
  height: 38px;
  float: left;
  border: 1px solid gray;
}
#sandwich:hover {
  cursor: pointer;
}
#sandwich:hover div {
  background-color: rgb(108, 68, 147);
}
#sandwich div {
  background-color: black;
  width: 25px;
  height: 3px;
  padding: 3px;
  margin: 5px;
}
